body {
    background-color:red;
    text-decoration: none;
  }

  .shrek_img{
      text-align: center;
  }

  .title{
      text-align: center;
  }

  .img_shrek{
      border-radius: 25%;
  }
  
li{
    text-align: center;

  }